*{
    padding: 0;
    margin: 0;
}

html,body{
    height: 100%;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    background-image: url(imangen_informatica.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url(cursor.cur), auto;
}

header,footer{
    color: white;
    text-align: center;
    background-color: rgb(57, 57, 146);
    border-color: white;
    padding: 0.3rem;
    font-family:'Courier New', Courier, monospace;
}

div{
    background-color: rgb(255, 251, 251);
    width: 60%;
    margin: 2rem auto;
    border: 0.5rem rgb(57, 57, 146) solid;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}


div a{
    color: black;
    text-decoration: none;
text-align: center;
}
    